@media screen and (max-width: 768px) {
    /* Styles pour les écrans plus larges */



nav {
    background-color: pink;

}

main {
    height: auto;
    flex-direction: column;
}



section {
    background-color: brown;

}



.webcam{
    height: 75vh;

}



#sourcevid {

    min-height: 350px;
    min-width: 350px;
}



aside {
    min-height: 15vh;
    width: 100%;
    padding-bottom: 15px;
}




#stock_h2{
    height: 5%;
}

#stockpicture
{
    height: 100%;
}


.pictures{
    /* width: 100%; */
    margin-top: 15px;
    margin-bottom: auto;
    max-height: 300px;
    max-width: 300px;

}

}